# Ya incluido
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Recomendado agregar
# Android test outputs
test-output/

# Logs y dumps
*.log
*.hprof

# Archivos generados por compiladores o herramientas
*.ap_

